@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    --first--color: #449DD1;
    --second--color: white;
    --label--color: #717171;
    --error--color: #FD2A2A;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}